<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui"
     xmlns:firewall="http://wixtoolset.org/schemas/v4/wxs/firewall">
  <Package
      Name="Teacher Server"
      Manufacturer="Taras Motuschuk"
      Version="1.0.5"
      UpgradeCode="9D624377-0AA5-4E8A-970A-5640C752EA0A"
      Scope="perMachine"
      InstallerVersion="500"
      Language="1033">

    <SummaryInformation Description="Teacher Server classroom tools installer." />
    <MajorUpgrade DowngradeErrorMessage="A newer version of Teacher Server is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="COMPANYFOLDER" Name="MTD">
        <Directory Id="INSTALLFOLDER" Name="TeacherServer">
        <Directory Id="TEACHERDIR" Name="Teacher" />
        <Directory Id="STUDENTDIR" Name="Student" />
        </Directory>
      </Directory>
    </StandardDirectory>

    <StandardDirectory Id="DesktopFolder" />

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="TeacherProgramMenuFolder" Name="MTD">
        <Directory Id="TeacherProgramMenuAppFolder" Name="TeacherServer" />
      </Directory>
    </StandardDirectory>

    <Feature Id="TeacherFeature" Title="Teacher workstation tools" Description="Install the Windows teacher client." Level="2" AllowAdvertise="no">
      <ComponentRef Id="TeacherClientMainComponent" />
      <ComponentRef Id="TeacherDesktopShortcutComponent" />
      <ComponentRef Id="TeacherStartMenuShortcutComponent" />
      <ComponentGroupRef Id="TeacherPayloadGroup" />
    </Feature>

    <Feature Id="StudentFeature" Title="Student workstation tools" Description="Install the privileged student service and session UI host." Level="1" AllowAdvertise="no">
      <ComponentRef Id="StudentServiceMainComponent" />
      <ComponentRef Id="StudentUiHostMainComponent" />
      <ComponentGroupRef Id="StudentPayloadGroup" />
    </Feature>

    <Component Id="TeacherClientMainComponent" Directory="TEACHERDIR" Guid="*">
      <File Id="TeacherClientExe" Source="$(var.TeacherPayloadDir)\TeacherClient.exe" KeyPath="yes" />
    </Component>

    <Component Id="TeacherDesktopShortcutComponent" Directory="DesktopFolder" Guid="*">
      <Shortcut Id="TeacherDesktopShortcut"
                Name="Teacher Client"
                Target="[TEACHERDIR]TeacherClient.exe"
                WorkingDirectory="TEACHERDIR"
                Description="Teacher classroom administration client." />
      <RegistryValue Root="HKCU" Key="Software\MTD\TeacherServer" Name="DesktopShortcut" Type="integer" Value="1" KeyPath="yes" />
    </Component>

    <Component Id="TeacherStartMenuShortcutComponent" Directory="TeacherProgramMenuAppFolder" Guid="*">
      <Shortcut Id="TeacherStartMenuShortcut"
                Name="Teacher Client"
                Target="[TEACHERDIR]TeacherClient.exe"
                WorkingDirectory="TEACHERDIR"
                Description="Teacher classroom administration client." />
      <RemoveFolder Id="RemoveTeacherProgramMenuAppFolder" On="uninstall" />
      <RemoveFolder Id="RemoveTeacherProgramMenuFolder" Directory="TeacherProgramMenuFolder" On="uninstall" />
      <RegistryValue Root="HKCU" Key="Software\MTD\TeacherServer" Name="StartMenuShortcut" Type="integer" Value="1" KeyPath="yes" />
    </Component>

    <Component Id="StudentServiceMainComponent" Directory="STUDENTDIR" Guid="*">
      <File Id="StudentAgentServiceExe" Source="$(var.StudentPayloadDir)\StudentAgent.Service.exe" KeyPath="yes" />
      <firewall:FirewallException Id="StudentAgentServiceFirewallRule"
                                  Name="Teacher Server StudentAgent Service"
                                  Description="Allows the StudentAgent service to accept classroom control connections."
                                  Program="[#StudentAgentServiceExe]"
                                  Profile="all"
                                  Scope="any" />
      <ServiceInstall Id="StudentAgentServiceInstaller"
                      Name="StudentAgentService"
                      DisplayName="StudentAgent Service"
                      Description="Privileged StudentAgent runtime host for classroom control."
                      Type="ownProcess"
                      Start="auto"
                      ErrorControl="normal"
                      Account="LocalSystem" />
      <ServiceControl Id="StudentAgentServiceController"
                      Name="StudentAgentService"
                      Start="install"
                      Stop="both"
                      Remove="uninstall"
                      Wait="yes" />
    </Component>

    <Component Id="StudentUiHostMainComponent" Directory="STUDENTDIR" Guid="*">
      <File Id="StudentAgentUiHostExe" Source="$(var.StudentPayloadDir)\StudentAgent.UIHost.exe" KeyPath="yes" />
    </Component>

    <ui:WixUI Id="WixUI_FeatureTree" />
    <WixVariable Id="WixUILicenseRtf" Value="Resources\License.rtf" />
  </Package>
</Wix>





